
/***************************************************************************
                          START
********************************************************************************/


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }


  
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 2;
  box-sizing: border-box;
  overflow-x: hidden ;

  }

  .btn {
    margin: 1rem;
  }
  

  h1 {
    
    font-weight: 100 !important;
  }

 
/****************************************************************************
               NAVIGATION
*****************************************************************************/
.navbar .nav-link {
  font-size: 19px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
 
 
}
.navbar .nav-link {
  color: black !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
  
  
}
#navbar {
  background-color: rgb(230, 225, 225) !important;
  position: fixed;
 
  width: 100%;
  display: inline-block;
  
  
  
}

.navbar-brand {
  color: black !important;

  
}

/****************************************************************************
               HERO IMG  AND BUTTON
*****************************************************************************/


.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(90, 6, 31, 0.2), rgba(13, 8, 34, 0.438)), url(../img/ava.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: azure;
   
  
    
   }

   /****************************************************************************
               HEADER GALLERY
*****************************************************************************/


.header-gallery {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(3, 3, 3, 0.8), rgba(13, 8, 34, 0.438)), url(../img/namas321.jpg);
  background-size: cover;
  background-position:center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: azure;
   }

   

    
     /****************************************************************************
               HEADER SERVICE VIDEO BACKGROUND
*****************************************************************************/
.why-terraclad-img {
  width: 37rem;
  height: 31rem;
}


  
  
  /*************************************************************************
              RESPONSIVE DESIGN
  ****************************************************************************/
   @media only screen and (max-width: 576px) {
    h1{
      font-size: 1.4rem;
      width: 80vw;
      font-weight: 200;
      margin-bottom: 3rem;
    }
    h2{
      font-size: 1.2rem;
      width: 80vw;
      font-weight: 100;
    }
  } 
  @media only screen and (min-width: 768px) {
    h1{
      font-size: 1.4rem;
      width: 80vw;
      
      margin-bottom: 3rem;
    }
    h2{
      font-size: 1.2rem;
      width: 80vw;
      font-weight: 100;
    }

    .card-body{
     
    }
    .why-terraclad-img {
    
    }

    .service-img {
     
    }
    
    
    
  } 


  @media only screen and (min-width: 992px) {
    
  
    
    h1{
      font-size: 2rem ;
      width: 100vw;
   
      margin-bottom: 5rem;
    }
    h2 {
      font-size: 2rem;
      width: 100vw;
      font-weight: 100;
    }
    .service-img {
     
    }

    .why-terraclad-img {
     
    }
    .card-body{
      
      
    }
    .card-text  {
      
    }
    .why-text {
     
    }
    
  } 
  @media only screen and (min-width: 1200px) {
    h1{
      font-size: 2rem ;
      width: 100vw;
   
      margin-bottom: 5rem;
    }
    h2 {
      font-size: 2rem;
      width: 100vw;
      font-weight: 100;
    }
    
    
  } 




     
       /****************************************************************************
                     CARDS
       *******************************************************************************/

      .card3 {
        
       margin-top: 3rem;
      
      }

      .card-img-bottom {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
    
     
       
        
       /***************************************************************************************
                          ABOUT-Terraclad
       ********************************************************************/
     
#about-us {
  margin-top: 5rem !important;
  
}

#about-us2 {
  margin-top: 4rem;
}
#foto {
  height: 35rem;
  width: 30rem;
}

#foto2 {
  height: 35rem;
  width: 30rem;
}


#foto3 {
  height: 35rem;
  width: 30rem;
}

#foto4 {
  height: 35rem;
  width: 30rem;
}





  






/**********HEADING******************/
#home-heading {
  position: relative;
  min-height: 300px;
 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(20, 20, 19, 0.6), rgba(5, 5, 5, 0.6)), url(../img/windows.jpg);
  background-size: cover;
  transform: skewY(-4deg);
  margin-top: -10rem; }

  #home-heading-2 {
    position: relative;
    min-height: 300px;
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-top: 5rem !important;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(20, 20, 19, 0.4), rgba(5, 5, 5, 0.4)), url(../img/field.jpg);
    background-size: cover;
    transform: skewY(-4deg);
   }

    
    #home-heading-3 {
      position: relative;
      min-height: 300px;
     
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      color: #fff;
      margin-top: 1rem !important;
      
      padding: 20rem 0;
      background-image: linear-gradient(to right bottom, rgba(20, 20, 19, 0.4), rgba(5, 5, 5, 0.4)), url(../img/field.jpg);
      background-size: cover;
      transform: skewY(-4deg);
      }

#about> * {
    transform: skewY(4deg); }


   
  
.home-heading-margin {
  margin-top: 6rem !important;
}


.home-heading-margin-3 {
  margin-top: .3rem !important;
}
.circle-image {
  padding-top: 1.4rem !important;
}
.circle-image-2 {
  padding-top: -3rem !important;
}
  

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

  



.service-img  {
  height: 35rem;
  width: 35rem;
}




    /******************* CAROUSEL ****************************/
    .carousel-item {
      height: 600px;
    
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      backface-visibility: hidden;
      
    }
   


/**********GALLERY*************/

#gallery {
  margin-top: 5rem;
}









/********** FOOTER**********/

.footer {
  margin: 0;
}


    #main-footer {
      margin-top: 3rem;
  
      height: 10rem;
      background-color: rgb(230, 225, 225) !important;
    }

    
    
    